resources:
  seed: 1337
  omp_threads: 4
  matmul_precision: high

logging:
  level: debug
  timestamps: true
  file: /user/davide.mattioli/u20330/Dinov3-LWF-Segmentation/logs/run.log
  per_run: true

paths:
  raw_images_dir: /mnt/ceph-hdd/projects/mthesis_davide_mattioli/patches_mt/folder_1/
  label_path: /user/davide.mattioli/u20330/planet_labels_2022.tif
  processed_dir: /mnt/ceph-hdd/projects/mthesis_davide_mattioli/processed/folder_1

dataset:
  cache_features: false
  max_tiles: 1000
  augmentations:
    enable: true
    hflip: true
    vflip: true
    rotate90: true
  splits:
    train_list:
    val_list:

model:
  backbone: facebook/dinov3-vitl16-pretrain-sat493m
  layers: [5, 11, 17, 23]
  head: unet_lite
  num_classes: 2
  dino_channels: 1024

prepare:
  enable: true
  tile_size: 1024
  device: cuda
  cache_features: false
  workers: 16

verify:
  enable: false
  workers: 8

train:
  enable: true
  device: cuda
  processed_dir: /mnt/ceph-hdd/projects/mthesis_davide_mattioli/processed/folder_1
  weights_dir: /user/davide.mattioli/u20330/Dinov3-LWF-Segmentation/weights/
  batch_size: 3
  epochs: 300
  muon_lr: 0.02
  adamw_lr: 0.001
  momentum: 0.95
  patience: 300
  val_fraction: 0.2
  num_workers: 4
  grad_accum_steps: 1
  compile: false
  ema_decay: 0.0
  epoch_plot: true
  epoch_plot_dir: output/plot
  epoch_plot_cmap: tab20
  loss:
    ce_weight: 1.0
    dice_weight: 1.0
    aux_weight: 0.4

inference:
  enable: true
  device: cuda
  input_tif: /user/davide.mattioli/u20330/dinov3-LWF-Segmentation-erosion/data/tiles/dop20_596000_5983000_1km_20cm.tif
  input_dir: /user/davide.mattioli/u20330/dinov3-LWF-Segmentation-erosion/data/tiles/
  output_tif: test/output_prediction.tif
  output_dir: test/
  output_suffix: _pred.tif
  glob: "*.tif"
  checkpoint: weights/unet_lite_best.pth
  tile_size: 1024
  overlap: 0.25
  tta:
    horizontal_flip: false
    vertical_flip: false
  explain:
    enable: true
    output_dir: plots
    class_index: 1
    dashboard_layout: "4x3"
